<template>
    <div>
        <nav class="navbar ">
            <div class="navbar-item has-dropdown is-hoverable is-mega">
                <div class="navbar-link">
                    Blog
                </div>
                <div id="blogDropdown" class="navbar-dropdown">
                    <div class="container is-fluid">
                        <div class="columns">
                            <div class="column">
                                <h1 class="title is-6 is-mega-menu-title">Core</h1>
                                <router-link class="navbar-item" to="/">
                                    <div class="navbar-content">
                                        <p>
                                            <small class="has-text-info">Homepage</small>
                                        </p>
                                        <p>Homepage view with quick reference stats</p>
                                    </div>
                                </router-link>
                            </div>
                            <div class="column">
                                <h1 class="title is-6 is-mega-menu-title">People</h1>
                                <router-link class="navbar-item" to="/people">
                                    <div class="navbar-content">
                                        <p>
                                            <small class="has-text-info">View All</small>
                                        </p>
                                        <p>View all your members</p>
                                    </div>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container is-fluid subsection">
            <div class="columns">
                <div class="column is-one-third">
                    <h4 class="subtitle is-4" style="margin-bottom: 10px;">
                        Internal | Test | UK
                    </h4>
                    <p style="">App ID: 1 / Owner: Toolbox Group / Centre ID: 1 / Language: EN</p>
                </div>
                <div class="column is-one-third">

                </div>
                <div class="column" style="text-align: right">
                    <button class="button">Switch Centre</button>
                </div>
            </div>
        </div>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: "App",
}
</script>

<style scoped>
.navbar {
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 5px 23px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 23px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 23px -9px rgba(0, 0, 0, 0.75);
}
.subsection {
    margin-bottom: 5px;
}
</style>
