@import "~bulma-pricingtable/dist/css/bulma-pricingtable.min.css";

.navbar-item.is-mega {
    position: static;

    .is-mega-menu-title {
        margin-bottom: 0;
        padding: .375rem 1rem;
    }
}

.card {
    &--red {
        background: #e23939;
      .content h1,h2,h3,h4,h5,p {
          color: white!important;
      }
    }
    &--green {
        background: #4ae239;
      .content h1,h2,h3,h4,h5,p {
          color: white!important;
      }
    }
    &--blue {
        background: #3985e2;
      .content h1,h2,h3,h4,h5,p {
          color: white!important;
      }
    }
    &--purple {
        background: #bd39e2;
      .content h1,h2,h3,h4,h5,p {
          color: white!important;
      }
    }
}

