<template>
    <div class="container is-fluid">
        <h5 class="subtitle is-5">
            Usage Overview
        </h5>
        <div class="columns">
            <div class="column">
                <div class="card card--red">
                    <div class="card-content">
                        <div class="content">
                            <h3>People logged in</h3>
                            <h4>{{ peopleData.currentlyLoggedIn }}</h4>
                            <h5>Currently</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card card--blue">
                    <div class="card-content">
                        <div class="content">
                            <h3>Did you know that</h3>
                            <h4>{{ peopleData.mostActive }}</h4>
                            <h5>is the most active time</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card card--green">
                    <div class="card-content">
                        <div class="content">
                            <h3>Total views</h3>
                            <h4>{{ peopleData.totalViews }}</h4>
                            <h5>All time</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card card--purple">
                    <div class="card-content">
                        <div class="content">
                            <h3>Most Active Store</h3>
                            <h4>{{ peopleData.activeStore }}</h4>
                            <h5>All time</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h5 class="subtitle is-5">
            Items
        </h5>
        <div class="columns">
            <div class="column" v-for="(item,index) in items" :key="index">
                <div class="card" :class="selectAColour(index)">
                    <div class="card-content">
                        <div class="content">
                            <h3>{{ item.title }}</h3>
                            <h4>{{ item.total }}</h4>
                            <h5>{{ item.subtitle }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card card--red">
                    <div class="card-content">
                        <div class="content">
                            <h3>Total</h3>
                            <h4>{{ itemsTotal }}</h4>
                            <h5>Pending approval</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Dashboard",
    data() {
        return {
            peopleData: {
                currentlyLoggedIn: 4,
                mostActive       : "John Smith",
                totalViews       : "78k",
                activeStore      : "Cake Shed",
            },
            items     : [
                {
                    "title"   : "Events",
                    "subtitle": "Pending approval",
                    total     : 57
                },
                {
                    "title"   : "Jobs",
                    "subtitle": "Pending approval",
                    total     : 20
                },
                {
                    "title"   : "basic",
                    "subtitle": "Pending approval",
                    total     : 912
                },
            ]
        }
    },
    computed: {
        itemsTotal() {
            let value = 0;
            for (let i in this.items) {
                value += parseInt(this.items[i].total)
            }
            return value;
        }
    },
    mounted() {
        /**
         * Axios Request Goes here
         */
    },
    methods: {
        selectAColour(index) {
            let position = ["card--red", "card--green", "card--blue", "card--purple"]
            return position[(index % 4)]
        }
    }
}
</script>

<style scoped>

</style>
