<template>
    <div class="container is-fluid">
        <h2 class="subtitle is-2">
            People
        </h2>
        <div class="columns">
            <div class="column">
                <div class="card card--red">
                    <div class="card-content">
                        <div class="content">
                            <h3>People logged in</h3>
                            <h4>{{ peopleData.currentlyLoggedIn }}</h4>
                            <h5>Currently</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card card--blue">
                    <div class="card-content">
                        <div class="content">
                            <h3>Did you know that</h3>
                            <h4>{{ peopleData.mostActive }}</h4>
                            <h5>is the most active time</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card card--green">
                    <div class="card-content">
                        <div class="content">
                            <h3>Total views</h3>
                            <h4>{{ peopleData.totalViews }}</h4>
                            <h5>All time</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card card--purple">
                    <div class="card-content">
                        <div class="content">
                            <h3>Most Active Store</h3>
                            <h4>{{ peopleData.activeStore }}</h4>
                            <h5>All time</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column"></div>
            <div class="column is-2">
                <b-field label="Search">
                    <b-input v-model="searchValue"></b-input>
                </b-field>
            </div>
        </div>
        <b-table v-if="renderTable.length > 0"
            :data="renderTable"
            :paginated="table.isPaginated"
            :per-page="table.perPage"
            :current-page.sync="table.currentPage"
            :pagination-simple="table.isPaginationSimple"
            :pagination-position="table.paginationPosition"
            :default-sort-direction="table.defaultSortDirection"
            :pagination-rounded="table.isPaginationRounded"
            :sort-icon="table.sortIcon"
            :sort-icon-size="table.sortIconSize"
            detailed
            detail-key="uuid"
            :show-detail-icon="true"
            :sort-multiple="true"
            :sort-multiple-data="table.sortingPriority"
            :sort-multiple-key="table.customKey"
        >
            <b-table-column field="name" label="Name" sortable v-slot="props">
                {{ props.row.name }}
            </b-table-column>
            <b-table-column field="email" label="Email" sortable v-slot="props">
                {{ props.row.email }}
            </b-table-column>
            <b-table-column field="store" label="Store" sortable v-slot="props">
                {{ props.row.store }}
            </b-table-column>

            <template #detail="props">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{ props.row.email }}</strong>
                                <br>
                            </p>
                            <div class="columns">
                                <div class="column">
                                    <b-checkbox v-model="props.row.verified"
                                                @click.native="statusChanged(props.row,'verified')">
                                        Verified
                                    </b-checkbox>
                                </div>
                                <div class="column">
                                    <b-checkbox v-model="props.row.approved"
                                                @click.native="statusChanged(props.row, 'approved')">
                                        Approved
                                    </b-checkbox>
                                </div>
                                <div class="column">
                                    <b-checkbox v-model="props.row.security_approved"
                                                @click.native="statusChanged(props.row, 'security_approved')">
                                        Security Approved
                                    </b-checkbox>
                                </div>
                                <div class="column">
                                    <b-checkbox v-model="props.row.blocked"
                                                @click.native="statusChanged(props.row, 'blocked')">
                                        Blocked
                                    </b-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </template>
        </b-table>
        <div style="text-align: center" v-else>
            <h1 class="subtitle is-1">Sorry... Everyone has left it seems...</h1>
        </div>
    </div>
</template>

<script>
export default {
    name: "People",
    data() {
        return {
            peopleData : {
                currentlyLoggedIn: 4,
                mostActive       : "John Smith",
                totalViews       : "78k",
                activeStore      : "Cake Shed",
            },
            people     : [],
            searchValue: "",
            table      : {
                isPaginated              : true,
                isPaginationSimple       : false,
                isPaginationRounded      : false,
                paginationPosition       : 'bottom',
                defaultSortDirection     : 'asc',
                sortIcon                 : 'arrow-up',
                sortIconSize             : 'is-small',
                currentPage              : 1,
                perPage                  : 15,
                sortingPriority          : [],
                multiColumnSortingEnabled: true,
                customKey                : null,
            }
        }
    },
    computed: {
        renderTable() {
            if (this.searchValue) {
                let search = this.searchValue.toLowerCase();
                let tempPeople = [];
                for (let i in this.people) {
                    let person = this.people[i];
                    if (person.name.toLowerCase().search( search)  >= 0 || person.email.toLowerCase().search( search)  >= 0) {
                        tempPeople.push(person)
                    }
                }
                return tempPeople;
            }
            return this.people;
        }
    },
    mounted() {
        this.makeUsers(100)
    },
    methods: {
        makeUsers(count) {
            console.log(count)
            for (let i = 0; i < count; i++) {
                this.people.push({
                    uuid             : window.faker.random.uuid(),
                    name             : window.faker.name.findName(),
                    email            : window.faker.internet.email(),
                    store            : window.faker.company.companyName(),
                    verified         : window.faker.random.boolean(),
                    approved         : window.faker.random.boolean(),
                    security_approved: window.faker.random.boolean(),
                    blocked          : window.faker.random.boolean(),
                })
            }
        },
        statusChanged(user, changed) {
            console.log(user, changed)
            this.$buefy.notification.open({
                message : user.name + ' has been updated!',
                type    : 'is-success',
                duration: 750
            })
        },
        sortPressed(field, order, event) {
            if ((this.customKey && event[this.customKey]) || !this.customKey) {
                let existingPriority = this.sortingPriority.filter(i => i.field === field)[0]
                if (existingPriority) {
                    existingPriority.order = existingPriority.order === 'desc' ? 'asc' : 'desc'
                } else {
                    // request sorted data from backend
                    this.sortingPriority.push({field, order})
                }
                this.loadAsyncData(this.sortingPriority)
            } else {
                // request regular sorted data from backend
                this.sortingPriority = [] // [{field, order}]
                this.loadAsyncData([{field, order}])
            }
        },
    }
}
</script>

<style scoped>

</style>
